.edit-task-description{
    position: relative;
    padding: 10px;
    padding-top:20px;
    padding-bottom: 20px;
    background-color: #fbfbfc;
    border-style: outset;
    border-width: 3px;
    border-radius: 10px 10px 10px 10px;
}
#save-task{
    width: 250px;
    height: 40px;
    border-radius: 5px 5px 5px 5px;
    border-style: none;
    background-color: rgb(7, 82, 50);
    color:white;
    font-size:20px;
    font-style: solid;
}
#price-error{
    color: red;
}