    .comments-panel{
      width: 100%;
      margin-top: 30px;
      border-style: outset;
      border-width: 2px;
      clear: both;
      border-width: 2px;
      border-style: outset;
      border-radius: 10px;
    }
    .comentar{
      border-width: 2px;
      border-style: outset;
      border-radius: 10px;
      width: 95%;
      margin-top: 5px;
      border-style:outset;
      border-width:2px;
      background-color: #fbfbfc;
    }
    li {
      list-style-type: none;
    }
    #comments-error{
      text-align: center;
    }
    img {
      border-radius: 10px 10px 10px 10px;
    }
    #comments-title{
      border-width: 2px;
      border-style: outset;
      border-radius: 10px 10px 0px 0px;
      font-size: 20px;
      padding:9px;
      text-align: center;
      box-sizing: border-box;
      background:  rgb(7, 82, 50);
    color: white;
    }
    #add-comment{
      position: relative;
      margin-top: 10px;
      vertical-align: middle;
      text-align: center;
      clear: both;
    }
    #comment-user-photo{
      text-align: center;      
      width:80px;
    }
    .date{
      padding-left: 10px;
      font-size: 12px;
    }
    #commen-date{
      font-size: 12px;
    }
    #user-name{
      padding-left: 10px;
      position: relative;
      top:3.5px;
      cursor: pointer;
    }
    #content{
      margin:15px;
    }
    #text-content{
      height: 40px;
      margin-left: 5px;
    }
    #user-photo{
     width:60px;
     border-radius: 10px 10px 10px 10px !important;
    }
    #submit{
      margin: 5px;
      height: 40px;
    border-radius: 5px 5px 5px 5px;
    border-style: none;
    color: white;
    background-color: rgb(7, 82, 50);
    }
    #comment-eror{
      padding-top:5px;
      height: 30px;
      width: 100%;
      text-align: center;
      font-size: 14px;
    }
    #choose_excecutor{
      width: 100px;
      padding-right: 20px;
      float: right;
    }
    #choose-button{
    border-radius: 5px 5px 5px 5px;
    border-style: none;
    color: white;
    background-color: rgb(7, 82, 50);
    }
    .comment-title
    {
      margin-top: 2%;
    }
