.container-fluid{
  position:relative;
}
.col-md-4 {
  }
  .task-description {
    position: relative;
    top: 10px;
    padding: 20px;
    border-width: 2px;
    border-style: outset;
    background-color: #fbfbfc;
    text-align: center;
  }
  #task-desk {
    position: relative;
    bottom: 50px;
    width: 70%;
    text-align: left;
    clear: both;
  }
  #task-price {
    position: relative;
    float: right;
    background-color: rgb(106, 255, 7);
    height: 40px;
    text-align: center;
    box-sizing: border-box;
    padding: 12px;
  }
  .col-md-3 {
    position: relative;
    margin-left: 20px;
    top:38px;
    width: 22%;
  }
  .user-panel{
    width: 100%;
    margin-top:20px;
    border-width: 2px;
    border-style: outset;
  }
  .top-row {
    height: 50px;
    width: 100%;
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, #e5e5e9),
      color-stop(1, #fbfbfc)
    );
    box-sizing: border-box;
    font-family: PT Sans, Helvetica Neue, Arial, sans-serif;
    text-shadow: 1px 1px 0 #fff;
    color: #707083;
    font-size: 20px;
    text-align: center;
    padding: 15px;
  }
  #bottom-row {
    height: 80px;
    vertical-align: middle;
  }
  #bottom-row tr{
    text-align: center;
  }
  .first-status{
    background-color: orange;
  }
  .second-status{
    background-color: green;
  }
  .third-status{
    background-color: gray;
  }
  #user-photo{
    padding: 10px;
  }
  #user-link{
    margin-left: 20px;
  }