.container-fluid{
  position:relative;
}
#task-title {
  
  font-size: 25px;
  height: 20px;
}
#push_block {
  height: 20px;
}


#hr-tag {
  margin: 30px -20px 20px;
  border: 0;
  border-top: 1px solid #c9c7c7;
}

  .my-task-description {
    position: relative;
    top: 10px;
    padding: 20px;
    border-width: 2px;
    border-style: outset;
    border-radius: 10px;
    background-color: #fbfbfc;
    text-align: center;
  }
  #task-desk {
    position: relative;
    width: 70%;
    text-align: left;
    clear: both;
  }

  #text-container {

    vertical-align: middle;
  }

  #task-price {
    position: relative;
    float: right;
    background-color: #27551a;
    color: white;
    height: 30px;
    width: 40px;
    font-size: 18px;
    vertical-align: middle; 
    text-align: center;
    box-sizing: border-box;
  }
  .right-row-panel{
    position: relative;
    margin-left: 20px;
  }
  .user-panel{
    border-width: 2px;
    border-style: outset;
    border-radius: 10px;
    width:100%;
    margin-top:20px;
  }

  .labelText {
    text-align: center;
  }

  .top-row {
    border-width: 2px;
    border-style: outset;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, #27551a)
    );
    box-sizing: border-box;
    font-family: PT Sans, Helvetica Neue, Arial, sans-serif;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 15px;
  }
  #bottom-row {
    height: 80px;
    vertical-align: middle;
  }
  #bottom-row tr{
    text-align: center;
  }
  .first-status{
    background-color: orange;
  }
  .second-status{
    background-color: green;
  }
  .third-status{
    background-color: gray;
  }
  #user-photo{
    padding: 10px;
  }
  #user-link{
    margin-left: 20px;
  }
  #close-task-button{
    margin-top:10px;
    text-align: center;
    padding-bottom:10px; 
  }
  #close{
    height: 50px;
    width:200px;
    border-radius: 5px 5px 5px 5px;
    border-style: none;
    color: white;
    background-color: rgb(7, 82, 50);
  }