body {
    font-family: "Arial", sans-serif;
    font-weight: normal;
    font-size: 14px;
    background-color: #ffffffec;
    color: #333333;
    padding-top: 40px;
}

p {
    font-size: 14px;
}

.l-projectList {
    list-style: none;
    padding: 0;
    margin: 0;
}



.l-item-features li {
    position: relative;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-right: 15px;

  
}

.pagination-num .form-control {
    width: 50px;
    display: inline-block;
    text-align: center;
}
.form-control {
    border: 1px solid #c7d9df;
}

.pagination-num label {
    display: inline-block;
    color: #777777;
}
label {
    font-weight: normal;
}


.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}


.j-order {
    border-style:outset;
    padding-left:15px;
    padding-top:15px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}



.c-fixedAlerts {
    position: fixed;
    top: 20px;
    left: 10%;
    width: 80%;
    z-index: 1060;
}

.c-scrolltop a:hover span {
    background-color: #68af55;
}
.media {
    margin-top: 0px;
}
.c-scrolltop span {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    color: #fff;
    display: block;
    margin-bottom: 7px;
    background: #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
}
.comp{
    background-color: #68af55;
}

  

.media-object{
width: 70px;
height: 90px;
}
.info{
	color: black;
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
}
.description{
	color: black;
	font-family: 'Times New Roman', Times, serif;
	font-size: 16px;
}
a{
    text-decoration: wavy;
}
.media-heading{
    color: rgb(15, 133, 15);
    font-size: 22px;
}

