.l-item-features li {
    position: relative;
    display: inline-block;
    font-weight:bold;
    font-size:12px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-right: 15px;
    color: #555555;
    white-space: nowrap;
}

.container {
    padding:0
}
p, #filter label {
    font-size: 14px;
}

.l-projectList {
    list-style: none;
    padding: 0;
    margin: 0;
}
.l-item-features span {
    font-size:12px;
    font-weight:bold;
}
.scrolltop { 
    position: fixed;
    bottom: 100px;
    right: 30px;
    z-index: 998;
}
.l-price {
    background: #68af55;
    color: #ffffff;
    padding: 5px 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    display: inline-block;
    margin-top: 3px;
    font-size: 14px;
}
#toggleCatBtn h5,i {
    display:inline-block;
}

a {
    color: #323232;
    text-decoration: underline;
}

.well h3 {
    margin-top:0px;
    margin-bottom: 15px;
}

.well h5 {
    color:#323232;
    font-weight: 650;
}
.form-group button {
    width:100%;
    padding:0
}

.pagination-num label {
    display: inline-block;
    color: #323232;
}

label {
    font-weight: normal;
}

.pagination-num .form-control {
    width: 50px;
    display: inline-block;
    margin-left: 10px;
    text-align: center;
}

.pagination-num {
    float:right;
}

.main-content {
    padding-top:20px;
}

.pagination > .active > span {
    border-color: #323232;
    background-color: #323232;
    color: #ffffff
}

.pagination {
    padding-left:15px;
}
.pagination > li >a {
    color:#323232
}

.form-control {
    border: 1px solid #c7d9df;
}

a:hover {
    color:#323232;
    opacity:0.7
}
#article-descp p {
    text-align:left;
}
.j-order {
    border-style:outset;
    padding-left:15px;
    margin-bottom:15px;
    padding-top:15px;
}
.pagination-num {
    margin-top:20px;
    margin-bottom:20px;
}
body {
    font-family: "Arial", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    background-color: #ffffff;
    color: #333333;
    padding-top: 40px;
}
