/* * {font-size: 18px} */

#logoutButton {
    color: white;
}
.logout-button
{
    padding: 6px 15px 6px 15px;
    margin: -6px 0 0 0;
}

div.notification {
    align-content: center;
    padding: 5% 5% 5% 5%;
    margin: 1% 1% 5% 1%;
    border-radius: 12px;
    color: black;
    border: 1px solid #32CD32;
}

h6.notificationDateTime {
    color: gray;
}
