.add-task-description{
    position: relative;
    padding: 10px;
    padding-top:20px;
    padding-bottom: 20px;
    background-color: #fbfbfc;
    border-style: outset;
    border-width: 3px;
    border-radius: 10px 10px 10px 10px;
}
.text-element{
    position:relative;
    width: 87%;
    float: right;
    bottom: 50px;
}
.label-element{
    width:15%;
    color:black;
    position: relative;
    word-wrap: break-word;
    clear:both;
}
#my-hr-tag {
    margin: 20px -10px 50px;
    border: 0;
    border-top: 1px solid #c9c7c7;
  }
#add-task-description{
    height: 200px;
    width: 100%;
    padding: 20px;
    flex-direction: column;
    line-height: 20px;
    flex-direction: column;
    resize: auto;
    cursor: text;
    display: inline-block;
    text-align: start;
}
#task-category{
    position:relative;
    width: 87%;
    float: right;
    bottom: 40px;
}
#price-text{
    position: relative;
    top:10px;
    width: 100%;
    height: 50px;
    padding-left: 18px;
    padding-right: 5px;
}
#price-text:invalid+span:after{
    content: '✖ Invalid value';
  margin-top: 10px;
  color: red;
}
#price-text:valid+span:after{
    content: '✓ Correct value';
  margin-top: 100px;
  color: green;
}
#save-button{
    text-align: center;
    clear: both;
}
.Errors{
    color: red;
}
#price-error{
    position: relative;
    top:17px;
}
#my-task-category{
    width: 100%;
    height: 50px;
    padding-left: 17px;
}
#save-new-task{
    width: 250px;
    height: 40px;
    border-radius: 5px 5px 5px 5px;
    border-style: none;
    background-color: rgb(7, 82, 50);
    color:white;
    font-size:20px;
    font-style: solid;
}
#add-date{
    width:100%;
    height: 50px;
    padding-left: 18px;
    vertical-align: middle;
    position: relative;
    top:8px;
}
#deadline{
    position: relative;
    top:8px;
}
#some-space{
    height: 10px;
}
#error{
    text-align: center;
}